h1 {
    color: darkblue;
    background-color: cyan;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    padding: 20px;
}

nav a {
    color: darkblue;
    margin: 0 40px;
}

nav a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.card {
 width: 200px;
 text-align: center;
 box-sizing: border-box;
}

#i1 {
    width: 200px;
    height: 300px;
    border: 5px solid black
}

#i2 {
    width: 200px;
    height: 300px;
    border: 5px solid blue;
    align-items: center;
}

#i3 {
    width: 200px;
    height: 300px;
    border: 5px solid green;
}

#i4 {
    width: 200px;
    height: 300px;
    border: 5px solid red;
}


#p1 {
    font-size: 20px;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

#p2{
    text-align: center;
    font-size: 20px
}

#p7{
    text-align: center;
    font-size: 20px
}